In [2]:
""" !pip install datetime
!pip install astroquery """

Collecting datetime
  Obtaining dependency information for datetime from https://files.pythonhosted.org/packages/95/88/3b9d4042b396221a132180b392ab2a174031a6fb579f7927f3909fc183a7/DateTime-5.2-py3-none-any.whl.metadata
  Downloading DateTime-5.2-py3-none-any.whl.metadata (33 kB)
Collecting zope.interface (from datetime)
  Downloading zope.interface-6.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (246 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.0/247.0 kB 1.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pytz in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from datetime) (2023.3)
Requirement already satisfied: setuptools in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from zope.interface->datetime) (59.6.0)
Downloading DateTime-5.2-py3-none-any.whl (52 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.2/52.2 kB 678.6 kB/s eta 0:00:00--:--
Installing collected packages: zope.interface, datetime
Successfully installed datetime-5.2 zope.interface-6.0
Requirement already satisfied: astroquery in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (0.4.6)
Requirement already satisfied: numpy>=1.16 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from astroquery) (1.25.2)
Requirement already satisfied: astropy>=4.0 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from astroquery) (5.3.2)
Requirement already satisfied: requests>=2.4.3 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from astroquery) (2.31.0)
Requirement already satisfied: beautifulsoup4>=4.3.2 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from astroquery) (4.12.2)
Requirement already satisfied: html5lib>=0.999 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from astroquery) (1.1)
Requirement already satisfied: keyring>=4.0 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from astroquery) (24.2.0)
Requirement already satisfied: pyvo>=1.1 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from astroquery) (1.4.2)
Requirement already satisfied: pyerfa>=2.0 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from astropy>=4.0->astroquery) (2.0.0.3)
Requirement already satisfied: PyYAML>=3.13 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from astropy>=4.0->astroquery) (6.0.1)
Requirement already satisfied: packaging>=19.0 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from astropy>=4.0->astroquery) (23.1)
Requirement already satisfied: soupsieve>1.2 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from beautifulsoup4>=4.3.2->astroquery) (2.4.1)
Requirement already satisfied: six>=1.9 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from html5lib>=0.999->astroquery) (1.16.0)
Requirement already satisfied: webencodings in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from html5lib>=0.999->astroquery) (0.5.1)
Requirement already satisfied: jaraco.classes in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from keyring>=4.0->astroquery) (3.3.0)
Requirement already satisfied: importlib-metadata>=4.11.4 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from keyring>=4.0->astroquery) (6.8.0)
Requirement already satisfied: SecretStorage>=3.2 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from keyring>=4.0->astroquery) (3.3.3)
Requirement already satisfied: jeepney>=0.4.2 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from keyring>=4.0->astroquery) (0.8.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from requests>=2.4.3->astroquery) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from requests>=2.4.3->astroquery) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from requests>=2.4.3->astroquery) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from requests>=2.4.3->astroquery) (2023.7.22)
Requirement already satisfied: zipp>=0.5 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from importlib-metadata>=4.11.4->keyring>=4.0->astroquery) (3.16.2)
Requirement already satisfied: cryptography>=2.0 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from SecretStorage>=3.2->keyring>=4.0->astroquery) (41.0.3)
Requirement already satisfied: more-itertools in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from jaraco.classes->keyring>=4.0->astroquery) (10.1.0)
Requirement already satisfied: cffi>=1.12 in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from cryptography>=2.0->SecretStorage>=3.2->keyring>=4.0->astroquery) (1.15.1)
Requirement already satisfied: pycparser in /home/clickgreen/celestial_mechanics/.venv/lib/python3.10/site-packages (from cffi>=1.12->cryptography>=2.0->SecretStorage>=3.2->keyring>=4.0->astroquery) (2.21)

<p>
<img src="https://drive.google.com/uc?id=1ZHUKcwzA5c-PKUwoGmBG3TsHk6TmZ-Y0" align="left" width="250">
</p>
<p>
<h1><b><center>Mecánica Celeste</center></b></h1>
<h2><b><center>Prof. Jorge I. Zuluaga</center></b></h1>
<h2><b><center>Tarea 1</center></b><h2>
<h3><b><center>Constantes de movimiento del sistema solar</center></b><h3>
<h5><center><b>Asignada</b>: 15 de Agosto de 2023</center><h5>
<h5><center><b>Entrega</b>: 29 de Agosto de 2023</center><h5>
</p>

<hr/>
<b>Nombre</b>: Bryan Camilo Restrepo Arcila
<br/>
<b>Cédula</b>:1000567825
<br/>
<b>Última actualización</b>:
<hr/>

## Enunciado

**Objetivo**: El objetivo de esta tarea es poner a prueba los resultados vistos en clase sobre las constantes en el problema de los N-cuerpos, en este caso aplicados al sistema solar.  Para ello usaremos el sistema de datos del JPL Horizons y el paquete `astroquery`.

**Procedimiento**:

Para conseguir el objetivo:

1. Obtener las masas, posiciones y velocidades de los planetas del sistema solar (8 planetas) y del Sol durante 20 años (por ejemplo entre 2000 y 2020), cada 3 meses. Use para ello Astroquery y SPICE (para las masas).

2. Para cada punto en el tiempo calcular:

   - El momentum lineal de cada cuerpo.
   - El momentum angular de cada cuerpo.
   - La energía cinética de cada cuerpo.
   - La energía potencial gravidtacional de todo el sistema.

3. Usando el valor de cada una de las cantidades anteriores vamos a calcular el valor de las cuadraturas del sistema:

   - Calcular el momentum lineal total (3 cuadraturas).
   - Calcular el momentum angular total (3 cuadraturas).
   - Calcular la energía total total (1 cuadratura).

   Es muy importante tener en cuenta que el valor de cada una de las cuadraturas puede ser inmenso (las masas del sistema solar son inmensas). Por lo tanto, debemos dividir cada cuadratura por el valor característico de. para ello calcule el valor promedio del momentum lineal, angular y energía cinética del Sol.

4. Hacer gráficos de las 10 cuadraturas.

5. El momentum angular total del sistema solar define el Plano de Laplace del sistema. El momentum angular de cada uno de los cuerpos del sistema solar define la inclinación de la órbita osculatriz del cuerpo respecto al plano de Laplace. Calcular, para cada tiempo, el ángulo entre el plano de Laplace y la órbita osculatriz de cada cuerpo (incluyendo el Sol).

Ayuda: el ángulo entre dos vectores se calcula usando la propiedad del producto punto A⋅ B = A B cos θ.

6. Haga un gráfico del ángulo de la órbita osculatriz de cada cuerpo como función del tiempo.

7. Calcule el valor promedio de la inclinación orbital de cada planeta en grados respecto al plano invariante de Laplace.

**Resultados esperados**:

- Este notebook con el procedimiento debidamente comentado.

- Gráficos mínimos:
  - Gráfico de las 10 cuadraturas normalizadas (divididas por el valor para el Sol).

  - Gráfico de la inclinación de la órbita osculatriz de cada planeta y el Sol.

- Datos mínimos:
  - Valor de la inclinación orbital de cada planeta

- Gráficos opcionales:
  - Gráfico de las órbitas de los planetas.
  - Gráfico de las magnitudes del momentum lineal y angular total como función del tiempo.

- En caso de utilizar ayudas como `ChatGPT` o códigos de `Stack Over Flow` debe citar debidamente la fuente, pero también entender a cabalidad el código, el profesor puede pedir justificación.

## Solución

## 1. Obtener las masas, posiciones y velocidades de los planetas del sistema solar (8 planetas) y del Sol durante 20 años (por ejemplo entre 2000 y 2020), cada 3 meses. Use para ello Astroquery y SPICE (para las masas).

In [20]:
#Pimero importemos las librerias que vamos a utilizar

import pandas as pd
from astroquery.jplhorizons import Horizons
from astropy import constants
import datetime
import numpy as np
#----------------------------------------------------------------

#Extraigamos la información por medio del id de los astros
id_planets=list(np.arange(199,1199,100))
id_planets.remove(999) #Quitando a Pluton de la lista

for i in  id_planets:
    #Extrayendo los datos de los planetas en referencia al baricentro del sistema solar
    information = Horizons(id=str(i), location='0',epochs={'start':'2002-01-01', 'stop':'2022-12-31','step':'90d'}).vectors().to_pandas()[['datetime_str', 'x', 'y', 'z', 'vx', 'vy','vz']]
    print(information)

                      datetime_str         x         y         z        vx  \
0   A.D. 2002-Jan-01 00:00:00.0000  0.530696 -1.109092 -0.044066  0.022346
1   A.D. 2002-Apr-01 00:00:00.0000  1.340539  0.106918 -0.039994 -0.002045
2   A.D. 2002-Jun-30 00:00:00.0000  0.215629  0.980823 -0.034974 -0.020330
3   A.D. 2002-Sep-28 00:00:00.0000 -0.652995 -0.047782 -0.029006 -0.006479
4   A.D. 2002-Dec-27 00:00:00.0000  0.410044 -0.887308 -0.022213  0.004423
..                             ...       ...       ...       ...       ...
81  A.D. 2021-Dec-17 00:00:00.0000  0.115535 -1.367692 -0.050166  0.036896
82  A.D. 2022-Mar-17 00:00:00.0000  1.232246 -0.423548 -0.051060  0.019185
83  A.D. 2022-Jun-15 00:00:00.0000  0.386975  0.691400 -0.051189 -0.001248
84  A.D. 2022-Sep-13 00:00:00.0000 -0.687366 -0.098801 -0.050370  0.010578
85  A.D. 2022-Dec-12 00:00:00.0000  0.150022 -1.196671 -0.048667  0.027900

          vy        vz
0   0.030571  0.001769
1   0.045745  0.002182
2   0.026970  0.002717
3   0.012027  0.003207
4   0.029887  0.003515
..       ...       ...
81  0.012954 -0.000588
82  0.034486 -0.000294
83  0.021709  0.000159
84  0.005135  0.000654
85  0.021319  0.001038

[86 rows x 7 columns]
                      datetime_str         x         y         z        vx  \
0   A.D. 2002-Jan-01 00:00:00.0000  0.212419 -1.693480 -0.011990  0.037428
1   A.D. 2002-Apr-01 00:00:00.0000  1.386339  0.788867 -0.015286 -0.019836
2   A.D. 2002-Jun-30 00:00:00.0000 -0.812528  0.742523  0.035047 -0.009646
3   A.D. 2002-Sep-28 00:00:00.0000 -0.299122 -0.275845 -0.043070  0.006998
4   A.D. 2002-Dec-27 00:00:00.0000 -0.365960 -0.422139  0.033694  0.001801
..                             ...       ...       ...       ...       ...
81  A.D. 2021-Dec-17 00:00:00.0000  0.145686 -0.297853 -0.004007 -0.001636
82  A.D. 2022-Mar-17 00:00:00.0000  0.414655 -0.501711  0.027363  0.013470
83  A.D. 2022-Jun-15 00:00:00.0000  0.838545  1.005474 -0.042001 -0.016954
84  A.D. 2022-Sep-13 00:00:00.0000 -1.575456  0.592414  0.039412 -0.014568
85  A.D. 2022-Dec-12 00:00:00.0000  0.057812 -1.656844 -0.023003  0.036362

          vy        vz
0   0.004097 -0.001157
1   0.028374  0.001057
2  -0.021264 -0.000670
3   0.002165  0.000026
4  -0.011269  0.000729
..       ...       ...
81  0.004962  0.001203
82  0.001102 -0.000983
83  0.022137  0.000266
84 -0.033602  0.000521
85  0.003410 -0.000996

[86 rows x 7 columns]
                      datetime_str         x         y         z        vx  \
0   A.D. 2002-Jan-01 00:00:00.0000  0.000005 -0.000037 -0.000020  0.000165
1   A.D. 2002-Apr-01 00:00:00.0000  0.000026 -0.000009 -0.000032 -0.000026
2   A.D. 2002-Jun-30 00:00:00.0000 -0.000004  0.000011 -0.000041 -0.000166
3   A.D. 2002-Sep-28 00:00:00.0000 -0.000026 -0.000016 -0.000029  0.000018
4   A.D. 2002-Dec-27 00:00:00.0000  0.000002 -0.000038 -0.000020  0.000167
..                             ...       ...       ...       ...       ...
81  A.D. 2021-Dec-17 00:00:00.0000 -0.000002 -0.000038 -0.000020  0.000167
82  A.D. 2022-Mar-17 00:00:00.0000  0.000026 -0.000016 -0.000029  0.000018
83  A.D. 2022-Jun-15 00:00:00.0000  0.000003  0.000011 -0.000041 -0.000166
84  A.D. 2022-Sep-13 00:00:00.0000 -0.000026 -0.000010 -0.000032 -0.000025
85  A.D. 2022-Dec-12 00:00:00.0000 -0.000005 -0.000037 -0.000020  0.000165

          vy        vz
0   0.000027 -0.000012
1   0.000152 -0.000066
2  -0.000020  0.000009
3  -0.000153  0.000066
4   0.000013 -0.000006
..       ...       ...
81 -0.000013  0.000005
82  0.000153 -0.000066
83  0.000020 -0.000008
84 -0.000152  0.000066
85 -0.000027  0.000011

[86 rows x 7 columns]
                      datetime_str         x         y         z        vx  \
0   A.D. 2002-Jan-01 00:00:00.0000  1.456362 -0.339910 -0.018315  0.011739
1   A.D. 2002-Apr-01 00:00:00.0000  1.350435  1.681856  0.022092 -0.016091
2   A.D. 2002-Jun-30 00:00:00.0000 -0.941569  2.429316  0.049399 -0.028587
3   A.D. 2002-Sep-28 00:00:00.0000 -2.554692  0.511627  0.050626 -0.002768
4   A.D. 2002-Dec-27 00:00:00.0000 -1.444803 -1.512707  0.026432  0.022713
..                             ...       ...       ...       ...       ...
81  A.D. 2021-Dec-17 00:00:00.0000 -1.126146 -2.137541  0.001276  0.028513
82  A.D. 2022-Mar-17 00:00:00.0000  1.160757 -1.499914 -0.034162  0.015899
83  A.D. 2022-Jun-15 00:00:00.0000  1.333170  0.362322 -0.043580 -0.009887
84  A.D. 2022-Sep-13 00:00:00.0000  0.269875  0.847084 -0.016907 -0.008804
85  A.D. 2022-Dec-12 00:00:00.0000  0.149910  0.535255  0.023515  0.004218

          vy        vz
0   0.016941  0.000415
1   0.021654  0.000350
2  -0.008019  0.000177
3  -0.029115 -0.000072
4  -0.010446 -0.000384
..       ...       ...
81 -0.009611 -0.000433
82  0.020213 -0.000362
83  0.015563  0.000102
84 -0.003466  0.000500
85  0.001099  0.000421

[86 rows x 7 columns]
                      datetime_str         x         y         z        vx  \
0   A.D. 2002-Jan-01 00:00:00.0000 -0.773198  4.115578  0.000142  0.009842
1   A.D. 2002-Apr-01 00:00:00.0000 -0.636144  5.138320  0.015608 -0.010316
2   A.D. 2002-Jun-30 00:00:00.0000 -2.397851  5.732875  0.030809 -0.023832
3   A.D. 2002-Sep-28 00:00:00.0000 -3.856329  4.345431  0.045535 -0.004748
4   A.D. 2002-Dec-27 00:00:00.0000 -3.326447  3.075571  0.059512  0.011713
..                             ...       ...       ...       ...       ...
81  A.D. 2021-Dec-17 00:00:00.0000  4.530896 -2.885442 -0.095367  0.020369
82  A.D. 2022-Mar-17 00:00:00.0000  5.815819 -1.296651 -0.102840  0.003250
83  A.D. 2022-Jun-15 00:00:00.0000  5.048788  0.481379 -0.108326 -0.016262
84  A.D. 2022-Sep-13 00:00:00.0000  3.960534  0.359438 -0.111571 -0.003134
85  A.D. 2022-Dec-12 00:00:00.0000  4.691866 -0.078538 -0.112610  0.015915

          vy        vz
0   0.002152  0.000161
1   0.015106  0.000104
2  -0.005250  0.000175
3  -0.020973  0.000227
4  -0.002933  0.000144
..       ...       ...
81  0.005881 -0.000087
82  0.025051 -0.000139
83  0.009869 -0.000057
84 -0.009114  0.000043
85  0.004716  0.000011

[86 rows x 7 columns]
                      datetime_str         x         y         z        vx  \
0   A.D. 2002-Jan-01 00:00:00.0000  2.899686  7.672785 -0.258620  0.011738
1   A.D. 2002-Apr-01 00:00:00.0000  3.193027  8.967495 -0.240703 -0.008756
2   A.D. 2002-Jun-30 00:00:00.0000  1.552976  9.889621 -0.222003 -0.022704
3   A.D. 2002-Sep-28 00:00:00.0000  0.173035  8.879706 -0.202542 -0.004143
4   A.D. 2002-Dec-27 00:00:00.0000  0.730879  8.030700 -0.182426  0.011718
..                             ...       ...       ...       ...       ...
81  A.D. 2021-Dec-17 00:00:00.0000  6.818270 -8.105332 -0.150885  0.021278
82  A.D. 2022-Mar-17 00:00:00.0000  8.221561 -6.835557 -0.170060  0.004979
83  A.D. 2022-Jun-15 00:00:00.0000  7.648570 -5.383578 -0.188822 -0.013676
84  A.D. 2022-Sep-13 00:00:00.0000  6.832105 -5.825943 -0.206988  0.000320
85  A.D. 2022-Dec-12 00:00:00.0000  7.912969 -6.565685 -0.224623  0.020224

          vy        vz
0   0.004847  0.000184
1   0.018446  0.000137
2  -0.001320  0.000220
3  -0.016526  0.000287
4   0.001956  0.000221
..       ...       ...
81  0.002420 -0.000209
82  0.021444 -0.000277
83  0.006254 -0.000214
84 -0.012595 -0.000132
85  0.001515 -0.000182

[86 rows x 7 columns]
                      datetime_str          x          y         z        vx  \
0   A.D. 2002-Jan-01 00:00:00.0000  16.413548 -12.621713 -0.253768  0.019619
1   A.D. 2002-Apr-01 00:00:00.0000  17.417928 -11.189997 -0.255364 -0.000839
2   A.D. 2002-Jun-30 00:00:00.0000  16.491178 -10.099053 -0.256882 -0.014772
3   A.D. 2002-Sep-28 00:00:00.0000  15.825094 -10.908016 -0.258285  0.003785
4   A.D. 2002-Dec-27 00:00:00.0000  17.095594 -11.523719 -0.259612  0.019624
..                             ...        ...        ...       ...       ...
81  A.D. 2021-Dec-17 00:00:00.0000  14.351722  12.457924 -0.137160  0.014872
82  A.D. 2022-Mar-17 00:00:00.0000  15.184933  13.611220 -0.133148 -0.001283
83  A.D. 2022-Jun-15 00:00:00.0000  14.055270  14.925680 -0.129101 -0.019783
84  A.D. 2022-Sep-13 00:00:00.0000  12.696486  14.325510 -0.124888 -0.005624
85  A.D. 2022-Dec-12 00:00:00.0000  13.250291  13.408466 -0.120622  0.014456

          vy        vz
0   0.006194 -0.000029
1   0.020145 -0.000084
2   0.000733 -0.000007
3  -0.014114  0.000052
4   0.004729 -0.000021
..       ...       ...
81  0.001245  0.000051
82  0.020032 -0.000022
83  0.004611  0.000037
84 -0.014458  0.000114
85 -0.000559  0.000058

[86 rows x 7 columns]
                      datetime_str          x          y         z        vx  \
0   A.D. 2002-Jan-01 00:00:00.0000  18.821012 -24.592550  0.056900  0.019798
1   A.D. 2002-Apr-01 00:00:00.0000  19.843084 -23.255951  0.048192 -0.000625
2   A.D. 2002-Jun-30 00:00:00.0000  18.937296 -22.261474  0.039484 -0.014521
3   A.D. 2002-Sep-28 00:00:00.0000  18.295481 -23.168183  0.030807  0.004073
4   A.D. 2002-Dec-27 00:00:00.0000  19.593588 -23.882843  0.022124  0.019949
..                             ...        ...        ...       ...       ...
81  A.D. 2021-Dec-17 00:00:00.0000  29.540495  -5.117982 -0.597598  0.017995
82  A.D. 2022-Mar-17 00:00:00.0000  30.655685  -3.923421 -0.604292  0.001860
83  A.D. 2022-Jun-15 00:00:00.0000  29.809784  -2.563066 -0.610940 -0.016620
84  A.D. 2022-Sep-13 00:00:00.0000  28.736472  -3.112651 -0.617409 -0.002442
85  A.D. 2022-Dec-12 00:00:00.0000  29.577391  -3.974360 -0.623807  0.017655

          vy        vz
0   0.005145 -0.000108
1   0.019080 -0.000163
2  -0.000346 -0.000088
3  -0.015206 -0.000029
4   0.003623 -0.000103
..       ...       ...
81  0.001678 -0.000068
82  0.020516 -0.000141
83  0.005147 -0.000082
84 -0.013870 -0.000005
85  0.000082 -0.000060

[86 rows x 7 columns]
                      datetime_str         x         y         z        vx  \
0   A.D. 2002-Jan-01 00:00:00.0000  2.513070 -0.860100 -0.170810  0.016803
1   A.D. 2002-Apr-01 00:00:00.0000  3.055378  1.371170  0.053765 -0.008163
2   A.D. 2002-Jun-30 00:00:00.0000  1.312797  3.058665  0.269841 -0.025297
3   A.D. 2002-Sep-28 00:00:00.0000 -0.380467  2.547107  0.447561 -0.008250
4   A.D. 2002-Dec-27 00:00:00.0000 -0.208341  1.922182  0.573974  0.007433
..                             ...       ...       ...       ...       ...
81  A.D. 2021-Dec-17 00:00:00.0000 -4.116896 -1.408166  0.236217  0.018031
82  A.D. 2022-Mar-17 00:00:00.0000 -2.925602 -1.124027  0.105377  0.003509
83  A.D. 2022-Jun-15 00:00:00.0000 -3.552380 -0.636564 -0.029233 -0.013408
84  A.D. 2022-Sep-13 00:00:00.0000 -4.268588 -1.998413 -0.162605  0.002269
85  A.D. 2022-Dec-12 00:00:00.0000 -2.939383 -3.587021 -0.289511  0.023777

          vy        vz
0   0.015581  0.002384
1   0.028174  0.002452
2   0.005783  0.002236
3  -0.012559  0.001766
4   0.003049  0.001103
..       ...       ...
81 -0.008563 -0.001409
82  0.010567 -0.001550
83 -0.004259 -0.001507
84 -0.022469 -0.001390
85 -0.007421 -0.001342

[86 rows x 7 columns]

In [23]:
import pandas as pd
from astroquery.jplhorizons import Horizons
from astropy import constants
import datetime
import numpy as np

# Lista de IDs de los planetas
id_planets = list(np.arange(199, 1199, 100))
id_planets.remove(999)  # Quitando a Pluton de la lista

# Diccionario con los nombres de los planetas para una mejor identificación
planet_names = {
    199: 'Mercury',
    299: 'Venus',
    399: 'Earth',
    499: 'Mars',
    599: 'Jupiter',
    699: 'Saturn',
    799: 'Uranus',
    899: 'Neptune',
    1099:'sun'
}

# Inicializar el DataFrame final
df_planets_sun_information = None

for i in id_planets:
    # Extrayendo los datos de los planetas en referencia al baricentro del sistema solar
    information = Horizons(id=str(i), location='0', epochs={'start': '2002-01-01', 'stop': '2022-12-31', 'step': '90d'}).vectors().to_pandas()[['datetime_str', 'x', 'y', 'z', 'vx', 'vy', 'vz']]
    
    # Cambiar nombres de columnas para identificar a qué planeta pertenecen
    columns = {col: f"{planet_names[i]}_{col}" for col in information.columns if col != "datetime_str"}
    information = information.rename(columns=columns)
    
    # Si el DataFrame final está vacío, toca ponerle la información del primer planeta (Mercurio)
    if df_planets_sun_information is None:
        df_planets_sun_information = information
    else:
        # Combinar DataFrames basado en la columna datetime_str
        df_planets_sun_information = df_planets_sun_information.merge(information, on='datetime_str', how='outer')

    
df_planets_sun_information

,datetime_str,Mercury_x,Mercury_y,Mercury_z,Mercury_vx,Mercury_vy,Mercury_vz,Venus_x,Venus_y,Venus_z,...,Neptune_z,Neptune_vx,Neptune_vy,Neptune_vz,sun_x,sun_y,sun_z,sun_vx,sun_vy,sun_vz
0,A.D. 2002-Jan-01 00:00:00.0000,0.530696,-1.109092,-0.044066,0.022346,0.030571,0.001769,0.212419,-1.693480,-0.011990,...,0.056900,0.019798,0.005145,-0.000108,2.513070,-0.860100,-0.170810,0.016803,0.015581,0.002384
1,A.D. 2002-Apr-01 00:00:00.0000,1.340539,0.106918,-0.039994,-0.002045,0.045745,0.002182,1.386339,0.788867,-0.015286,...,0.048192,-0.000625,0.019080,-0.000163,3.055378,1.371170,0.053765,-0.008163,0.028174,0.002452
2,A.D. 2002-Jun-30 00:00:00.0000,0.215629,0.980823,-0.034974,-0.020330,0.026970,0.002717,-0.812528,0.742523,0.035047,...,0.039484,-0.014521,-0.000346,-0.000088,1.312797,3.058665,0.269841,-0.025297,0.005783,0.002236
3,A.D. 2002-Sep-28 00:00:00.0000,-0.652995,-0.047782,-0.029006,-0.006479,0.012027,0.003207,-0.299122,-0.275845,-0.043070,...,0.030807,0.004073,-0.015206,-0.000029,-0.380467,2.547107,0.447561,-0.008250,-0.012559,0.001766
4,A.D. 2002-Dec-27 00:00:00.0000,0.410044,-0.887308,-0.022213,0.004423,0.029887,0.003515,-0.365960,-0.422139,0.033694,...,0.022124,0.019949,0.003623,-0.000103,-0.208341,1.922182,0.573974,0.007433,0.003049,0.001103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,A.D. 2021-Dec-17 00:00:00.0000,0.115535,-1.367692,-0.050166,0.036896,0.012954,-0.000588,0.145686,-0.297853,-0.004007,...,-0.597598,0.017995,0.001678,-0.000068,-4.116896,-1.408166,0.236217,0.018031,-0.008563,-0.001409
82,A.D. 2022-Mar-17 00:00:00.0000,1.232246,-0.423548,-0.051060,0.019185,0.034486,-0.000294,0.414655,-0.501711,0.027363,...,-0.604292,0.001860,0.020516,-0.000141,-2.925602,-1.124027,0.105377,0.003509,0.010567,-0.001550
83,A.D. 2022-Jun-15 00:00:00.0000,0.386975,0.691400,-0.051189,-0.001248,0.021709,0.000159,0.838545,1.005474,-0.042001,...,-0.610940,-0.016620,0.005147,-0.000082,-3.552380,-0.636564,-0.029233,-0.013408,-0.004259,-0.001507
84,A.D. 2022-Sep-13 00:00:00.0000,-0.687366,-0.098801,-0.050370,0.010578,0.005135,0.000654,-1.575456,0.592414,0.039412,...,-0.617409,-0.002442,-0.013870,-0.000005,-4.268588,-1.998413,-0.162605,0.002269,-0.022469,-0.001390
85,A.D. 2022-Dec-12 00:00:00.0000,0.150022,-1.196671,-0.048667,0.027900,0.021319,0.001038,0.057812,-1.656844,-0.023003,...,-0.623807,0.017655,0.000082,-0.000060,-2.939383,-3.587021,-0.289511,0.023777,-0.007421,-0.001342

In [10]:
from astroquery.jplhorizons import Horizons
from astropy.time import Time

# Define the object (Mars) and the time for which you want the ephemeris
obj = Horizons(id='499',  # 499 is the ID for Mars
               location=None,  # Geocentric location
               epochs=Time('2022-01-01').jd)  # Julian date for 2022-01-01

# Query the ephemeris
eph = obj.ephemerides()

eph

<Table masked=True length=1>
targetname       datetime_str       datetime_jd ... alpha_true  PABLon   PABLat
   ---               ---                 d      ...    deg       deg      deg
  str10             str24             float64   ...  float64   float64  float64
---------- ------------------------ ----------- ... ---------- -------- -------
Mars (499) 2022-Jan-01 00:00:00.000   2459580.5 ...    17.1503 244.2258 -0.1656